.number-input {
    color: #777;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 6px 12px;

    &-wrapper {
        display: flex;
        align-items: center;

        &+.number-input-wrapper {
            margin-top: 12px;
            border-top: 1px solid #f0f0f0;
            padding-top: 12px;
        }
    }

    &-suffix {
        flex-shrink: 0;
        color: #999;
        margin-left: 12px;
    }
}