.ant-form-item-control-input-content {
    .formula-number-input {
        border-radius: 0;
        vertical-align: middle;
    }

    .formula-number-input+.formula-number-input {
        margin-left: -1px;
    }

    .formula-number-input.ant-input-number-affix-wrapper:hover .ant-input-number-suffix {
        margin-inline-end: 11px;
    }
}