.formula-layout {
    &-top {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        padding-right: 12px;
    }

    &-page {
        height: 100vh;
        overflow: hidden;
    }
}